<section class="contact">
    <div class="container">
        <div class="contactCard first">
            <h4>Kontakt</h4>
            <p><a href="mailto: sales@ecalumis.com">sales@ecalumis.com</a><br>
            +420 606 050 969</p>
        </div>
        <div class="contactCard second">
            <h4>Sídlo</h4>
            <p>Ecalumis, s.r.o.<br>
            Husova 48<br>
            50 601 Jičín<br>
            Czech Republic</p>
        </div>
    </div>
</section>