<section class ="section2">
    <div class="container">
        <h2>
            Vaše <br>procesy <span>vyladíme&nbsp;k </span>
        </h2>
        <h2 class="dokonalosti">
            <span>dokonalosti.</span>
        </h2>
        <p>Optimalizaci vnímáme jako ideální soulad činností lidí, technologií a systémů s cílem zvýšit přidanou hodnotu.</p>
    </div>
</section>