<section class="team">
    <div class="container">
        <h3><span>Ecalumis</span> team</h3>
        <div class="teamCards">
            <div>
                <img src="images/bg/frantisek_srajer.webp">
                <h4>František Šrajer</h4>
                <p>Co-founder & Technical Director</p>
            </div>
            <div>
                <img src="images/bg/ladislav_horvat.webp">
                <h4>František Šrajer</h4>
                <p>Co-founder & Technical Director</p>
            </div>
        </div>
    </div>
</section>