<section class="logos">
    <div class="container">
        <img src="images/bg/mahle.webp">
        <img src="images/bg/itw.webp">
        <img src="images/bg/miele.webp">
        <img src="images/bg/borgers.webp">
        <img src="images/bg/magna.webp">
    </div>
</section>