    <div class="footer">
        <h5>ECALUMIS</h5>
        <p>© Eculamis 2022<p>
    </div>
    
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script> #}
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/ScrollTrigger.min.js"></script> #}
    <script src="js/gsap.min.js"></script>
    {# <script src="js/DrawSVGPlugin.min.js"></script> #}
    <script src="js/ScrollSmoother.min.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <script src="js/scripts.js?202208152810"></script>
    </body>
</html>