<section class="section3" id="section3">
    <div class="container">
        <div class="infoItem">
            <h4>Co dostanete?</h4>
            <div class="text">
            <p>efektivní nástroje pro řízení procesů ve 3D</p>
            <p>simulace změn na projektech</p>
            <p>kolize, úzká místa nebo volné kapacity</p>
            </div>
        </div>
        <div class="infoItem">
            <h4>Jak to děláme?</h4>
            <div class="text">
            <p>Tvoříme a udržujeme 3D modely procesů</p>
            <p>Simulujeme a analyzujeme výrobní a logistické procesy</p>
            <p>Navrhujeme řešení a varianty optimalizace procesů</p>
            <p>Organizujeme a řídíme workshopy a zajišťujeme školení</p>
            <p>Zajistíme implementaci navržených řešení v praxi</p>
            </div>
        </div>
        <div class="infoItem">
            <h4>Jaké máme nástroje?</h4>
            <div class="text">
            <p>Modelujeme a simlulujeme ve špičkovém softwaru FexSim</p>
            <p>Kreslíme layouty procesů ve 3D použitím SketchUp</p>
            <p>Prakticky využíváme metod Lean Six Sigma</p>
            </div>
        </div>
</section>