<section class="heroImage">
    <div class="container">
        <h1><span>Optimalizujeme</span> výrobní a logistické procesy ve 3D</h1>
        <p><span>20+</span> let zkušeností v řízení a zlepšování procesů</p>
        <a><div class="inner">
            Zjistit více
        </div></a>
    </div>
</section>
