.reference {
    margin: 204px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            @include manrope155;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
        }
        h3 {
            margin-top: 32px;
            @include manrope155;
            font-size: 72px;
            line-height: 82px;
            text-align: center;
            span {
                background: radial-gradient(109.91% 2942.09% at 77.17% 0%, #7B51F1 0%, #47EDCF 73.35%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}