<section class="backgroundVideo">
    <video playsinline preload autoplay loop muted>
        <source src="images\bg\SPHERE_background.mp4" type="video/mp4" />
    </video>
</section>
<nav>
    <h5>ECALUMIS</h5>
    <a href="" class="contact-button">
        <div class="inner">
            Kontaktujte nás
        </div>
    </a>
    <a class="menu-icon">
        <div class="line"></div>
    </a>
    <div class="menu-items">
        <a class="homeNav">Domů</a>
        <a class="servicesNav">Naše služby</a>
        <a class="teamNav">Team</a>
        <a class="contact-button second">
        <div class="inner">
            Kontaktujte nás
        </div>
    </a>
    </div>
</nav>
<div id="smooth-content">