<section class="backgroundVideo">
    <video preload autoplay loop muted>
        <source src="images\bg\SPHERE_background.mp4" type="video/mp4" />
    </video>
</section>
<nav>
    <h5>ECALUMIS</h5>
    <a href="">
        <div class="inner">
            Kontaktujte nás
        </div>
    </a>
</nav>