.video {
    height: 100vh;
    min-height: 830px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        @include windowMax1440p {
            max-width: 1024px;
            iframe {
                width: 960px;
                height: 540px;
            }
        }
        @media (min-width: 954px) and (max-width: 1175px) {
            max-width: 1024px;
            iframe {
                width: 768px;
                height: 432px;
            }
        }
    }
    @include mobileMax952p {
        .container {
            position: relative;
            overflow: hidden;
            width: 100%;
            padding-top: 56.25%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }
}